/* Hej */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;


}
/*----Bread crumbs---- */
.breadCrumbs{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.back, .shoePage{
    text-decoration: none;
    color:inherit;
    font-size: 15px;
}

/* -----PRODUCT STUFF------ */
.productCon{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
}
.productAttCon{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 30px;
    align-items: flex-start;
    width: 40%;
}
.productSwiper{
    display: flex;
    width: 60%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    margin:30px;
}

.productPicCon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productPic{
    margin:60px 30px 60px 30px;
    width: 70%;

}

.productLogo{
    width: 30px;
}
.productTitle{
    font-size: 30px;
    font-weight: bold;

}
.seperator{
    height:1px;
    width:100% ;
    background-color:rgba(0, 0, 0, 0.199) ;
}
.productDescript{
    font-size: 15px;
}

.sizeSelCon{
    width: 100%;
}
#sizeSelector{
    display: flex;
    text-align: center;
    width: 70%;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.096);
    height: 40px;
    border-radius: 50px;
    appearance: none;
    cursor:pointer;
}


.addToCartBtnCon{
    width: 100%;

}
.addToCartBtn{
    border-style:none;
    border-radius: 50px;
    height: 40px;
    width: 70%;
    color: #FFF;
    font-weight: bolder;
    background-color: #F06AA4;
    cursor: pointer;
    
}
.addToCartBtn:hover{
    background-color: #ee88b4;
    color:#662d46;
}

.relateTitle{
    text-align: start;
    margin-left: 20px;
}

.relateSwiperCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    gap:3%;
    
}
.relatePicCon{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: rgb(248, 248, 248);
    width: 240px;
    position:relative;

}

.relSwiPic{
    object-fit: contain;
    width: 100%;
}
#swiperArrowLeft{
    position: absolute;
    font-size: 50px;
    display: flex;
    left: 0;
    margin:5px;
    color:#f06aa493;    
    cursor: pointer;
}
#swiperArrowRight{
    position: absolute;
    font-size: 50px;
    display: flex;
    right: 0;
    margin: 5px;
    color:#f06aa493;
    cursor: pointer;
}
#swiperArrowRight:hover, #swiperArrowLeft:hover{
    color: #F06AA4;
}

@media screen and (max-width:1300px){

    .productCon{
        display: flex;
        flex-wrap: wrap;
    }
    .productAttCon, .productSwiper{
        width: 100%;
        align-items: center;
    }
    .sizeSelCon, .addToCartBtnCon{
        display:flex;
        justify-content: center;
    }

    #sizeSelector{
        width: 50%;
    }
    .addToCartBtn{
        width:50%;
        font-size: 12px;

    }

    .relateTitle{
        font-size:20px ;
    }
    .relatePicCon{

        padding:10px;
    }

    #swiperArrowLeft,#swiperArrowRight{
        font-size: 35px;

    }
}
